language: node_js
os:
  - linux
  - osx
node_js:
  - "8"
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y zlib1g-dev libgmp-dev; fi
install:
  - npm install -g esy@0.1.29
  - npm install
script:
  - node test.js
cache:
  # default timeout is 180 but it takes longer sometimes
  timeout: 360
  # this caches esy build store and esy install cache too
  directories:
  - $HOME/.esy/
